/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*font-family: 'Open Sans', sans-serif;*/

/*(PROPRIEDADES NAVBAR PRINCIPAL)-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

/*(PROPRIEDADES DA LOGO)-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.logo {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.imglogo {
    height: 6vh;
}

/*(PROPRIEDADES DO MENU)-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ordem {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ee77b2;
    border-bottom: 6px solid #9e0c55;
    padding: 1%;
}

.ordem li {
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-right: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 4vh;
}

.ordem li:hover {
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    color: #ee77b2;
    border-bottom: 3px solid rgb(216, 216, 216);
    border-right: 3px solid rgb(216, 216, 216);
}

/*(RESET DOS LINKS)-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.azul {
    color: white;
    text-decoration: none;
    text-transform: none;
    all: unset;
}

.azul:link {
    color: white;
    text-decoration: none;
    text-transform: none;
    all: unset;
}

.azul:focus {
    text-decoration: none;
    text-transform: none;
    all: unset;
}

.azul:visited {
    color: white;
    text-decoration: none;
    text-transform: none;
    all: unset;
}

.azul:active {
    color: white;
    text-decoration: none;
    text-transform: none;
    all: unset;
}

.azul:hover {
    color: white;
    text-decoration: none;
    text-transform: none;
    all: unset;
}