.produto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    position: relative;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1%;
}
.modeloimg {
    height: 30vh;
}

.btnescolher {
    background-color: seagreen;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 4%;
    border-radius: 5px;
}

.btnescolher:hover {
    background-color: transparent;
    color: seagreen;
    border: 2px solid seagreen;
    cursor: pointer;
}

.desc {
    font-weight: 500;
    color: rgba(112, 128, 144, 0.685);
}

.nuvem {
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    width: 100%;
    height: 5vh;
}
